/* Assumed to be in a grid element */

form#category-filter {
    z-index: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column: 2/10;
    margin-bottom: ($base * 2);
    padding: $base 0;
    grid-row: 2/3;
    background-color: $dark;
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        margin-bottom: ($base * 1);
        padding: ($base /2) 0;
        margin-left: -5vw;
        margin-right: -5vw;
    }
    @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
        grid-column: 3/9;
        padding: $base 0;
        margin-bottom: ($base * 2);
    }
    label,
    button,
    select,
    option {
        color: $white;
        font-size: 1em;
        margin: 0 ($base / 2);
    }
    select,
    button {
        background-color: $green;
        outline: none;
        border: none;
        padding: $base/2 $base;
        margin: $base ($base / 2);
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 0.9em;
    }
    button {
        border-top: 1px;
        border-bottom: 1px;
        border-style: solid;
        border-color: $green;
        flex: 0 0 95px;
        margin-right: $base;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            flex: initial;
            margin-right: initial;
        }
        &:hover {
            background-color: darken($green, 8%);
            border-color: darken($green, 8%);
        }
    }
    label {
        flex: 1 0 100%;
        text-align: center;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            flex: initial;
            text-align: left;
        }
        span {
            &:before {
                margin-top: 5px;
            }
        }
    }
    select {
        flex: 0 1 240px;
        margin-left: $base;
        -webkit-appearance: none;
        appearance: none;
        background: $green url('../../images/chevron-up.png') no-repeat 0 0;
        &::focus {
            background: $green url('../../images/chevron-down.png') no-repeat 0 0;
        }
        @media(min-width:map-get($map: $breakpoints,
        $key:"md")) {
            flex: initial;
        }
    }
    option {
        &:hover,
        &:focus {
            background-color: darken($green, 8%);
        }
    }
}