/* Styles for contact bar partial */

section#contact-bar {
    grid-column: 1/ 11;
    background: $gray;
    p,
    a {
        color: $white;
        text-align: center;
    }
    p {
        grid-column: 3/9;
        margin-top: $base*2;
        font-family: $montserrat;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 4/8;
        }
        font-weight: 400;
        letter-spacing: 1.5px;
    }
    a {
        grid-row: 2/3;
        grid-column: 4/8;
        justify-self: center;
        text-transform: uppercase;
        background-color: $green;
        padding: ($base /2) ($base * 1.5);
        margin-bottom: $base * 3;
        font-family: $montserrat;
        font-weight: 400;
        letter-spacing: 2;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            grid-column: 5 / 7;
        }
    }
}