section#partners {
    grid-column: 2/10;
    margin: $base*2 0;
    h2 {
        grid-column: 2/10;
        margin-bottom: $base *3;
        text-align: center;
        justify-self: center;
    }
    ul#partners {
        grid-column: 1/11;
        grid-gap: $base;
        justify-self: center;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            grid-template-columns: repeat(12, 1fr);
            grid-gap: $base*2;
        }
        li {
            grid-column: span 10;
            justify-content: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            @media(min-width: map-get($map: $breakpoints, $key: "sm")+35px) {
                grid-column: span 5;
            }
            @media(min-width:map-get($map: $breakpoints, $key: "lg")) {
                grid-column: span 4;
            }
            a {
                display: contents;
            }
            img {
                max-width: 100%;
            }
        }
    }
}