.text_image_block {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    img {
        flex: 0 0 250px;
        margin: $base /2;
    }
    div.image-text {
        flex: 1 1 auto;
        margin: $base /2;
    }
}