section.simple-card-block {
    grid-column: 1/11;
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        grid-column: 2/10;
    }
    h2 {
        grid-column: 2/10;
        justify-self: center;
        text-align: center;
    }
    div.card {
        grid-column: 2/10;
        display: block;
        background-color: $gray;
        color: $white;
        margin: ($base/ 2) 0;
        p,
        h3,
        a {
            color: inherit;
            text-align: center;
        }
        h3 {
            font-size: 1em;
            letter-spacing: 1px;
            margin: $base 0 0 0;
            font-weight: 700;
        }
        p {
            font-size: 1em;
            padding: 0;
            max-width: 75%;
            margin: 0 auto;
            font-weight: 500;
            font-style: italic;
        }
        p:empty {
            display: none;
        }
        .quotation-mark {
            text-align: center;
            font-weight: bold;
            margin-top: $base;
            font-size: 50px;
            font-family: "Times New Roman", Georgia, Serif;
        }
        a {
            font-size: 0.9em;
            max-width: 200px;
            display: block;
            padding: ($base/ 2) ($base * 1);
            background-color: $green;
            text-transform: uppercase;
            font-weight: 700;
            color: rgba($white, 1);
            margin: ($base* 2) auto;
        }
    }
    @media(min-width: map-get($map: $breakpoints, $key: 'md')) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 (-1 * 6.5px);
        h2 {
            @media(min-width: map-get($map: $breakpoints, $key: 'md')) {
                flex: 1 0 100%;
            }
        }
        div.card {
            margin: $base / 2;
            display: grid;
        }
        &.card-count-2 {
            .card {
                flex: 1 1 40%;
            }
        }
        &.card-count-3 {
            .card {
                flex: 1 1 25%;
            }
        }
        &.card-count-4 {
            .card {
                flex: 1 1 20%;
            }
        }
        &.card-count-5 {
            .card {
                flex: 1 1 18%;
            }
        }
    }
}

.card-lesson {}