                footer {
                    grid-column: span 10;
                    margin-top: -$base;
                    nav {
                        grid-column: span 10;
                        grid-gap: $base;
                        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                            grid-column: 2/10;
                        }
                    }
                    ul#footer-nav {
                        grid-column: 7/10;
                        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                            grid-row: 1/4;
                        }
                    }
                    a.link-wrapper {
                        grid-column: 2/7;
                        justify-self: end;
                        img {
                            pointer-events: none;
                        }
                        @media(min-width:map-get($map: $breakpoints, $key:"md")) {
                            // margin-left: -100vw;
                            grid-row: 1/4;
                        }
                    }
                    a.link-wrapper,
                    ul#footer-nav {
                        align-self: center;
                        z-index: 2;
                        li {
                            @media(min-width: 400px) {
                                margin: ($base/4) 0;
                            }
                            @media(min-width:map-get($map: $breakpoints, $key:"md")) {
                                margin: ($base/8) 0;
                            }
                            @media(min-width:map-get($map: $breakpoints, $key:"ds")) {
                                margin: ($base/4) 0;
                            }
                            a {
                                font-weight: 400;
                                letter-spacing: 1.5px;
                                text-transform: uppercase;
                                color: $gray;
                                font-size: 0.7em;
                                @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
                                    font-size: 0.9em;
                                }
                            }
                        }
                        @media(min-width:map-get($map: $breakpoints, $key:"md")) {
                            grid-column: span 3;
                        }
                        @media(min-width:map-get($map: $breakpoints, $key:"ds")) {
                            grid-column: span 2;
                        }
                    }
                    a.link-wrapper {
                        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                            margin-left: -2vw;
                        }
                    }
                    ul#social-icons {
                        grid-column: 1/11;
                        justify-self: center;
                        border-top: 1px;
                        border-style: solid;
                        border-color: $lgray;
                        width: 100%;
                        margin-top: -25px;
                        padding: ($base*1) 0;
                        z-index: 1;
                        grid-gap: $base;
                        justify-items: center;
                        grid-template-columns: repeat(9, 1fr);
                        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                            justify-items: end;
                            grid-template-columns: repeat(3, 1fr);
                        }
                        li {
                            grid-column: span 1;
                            margin-top: $base;
                            &:first-of-type {
                                grid-column-start: 4;
                                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                                    grid-column-start: 1;
                                    grid-column: span 1;
                                }
                            }
                            &:nth-of-type(2) {
                                grid-column-start: 5;
                                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                                    grid-column-start: 2;
                                }
                            }
                            &:last-of-type {
                                grid-column-start: 6;
                                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                                    grid-column-start: 3;
                                }
                            }
                        }
                        @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                            grid-column: 9/11;
                            grid-row: 2/3;
                            margin-top: 0;
                            border-top: none;
                            align-self: center;
                            justify-items: end;
                        }
                        @media(min-width:map-get($map: $breakpoints, $key: "ds")) {
                            grid-column: 10/11;
                        }
                    }
                    section#full-language-selector {
                        grid-column: 3/9;
                        justify-self: center;
                        background-color: $green;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        display: none; // remove to enable
                        p.current-language {
                            flex: 1 1 80%;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: $white;
                            padding: $base/ 2 0 $base/2 $base;
                        }
                        span.chevron {
                            flex: 1 1 2%;
                            color: $white;
                            margin: auto 2px;
                            height: 14px;
                            padding-right: $base;
                        }
                        @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                            grid-row: 2/3;
                            grid-column: 9/11;
                            align-self: center;
                            margin-top: $base * 6;
                        }
                    }
                    section#information {
                        grid-column: 1/11;
                        padding: $base*2 0;
                        margin-top: $base *3;
                        border-top: 1px;
                        border-style: solid;
                        border-color: $lgray;
                        ul#information-items {
                            grid-column: 3/9;
                            justify-self: center;
                            li {
                                a {
                                    text-align: center;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                    letter-spacing: 1.5px;
                                }
                            }
                        }
                        sub {
                            grid-column: 3/9;
                            justify-self: center;
                            font-size: 0.7em;
                            font-weight: 500;
                            font-family: "Open Sans";
                        }
                        @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                            margin-top: -25px;
                        }
                    }
                }