                header {
                    grid-column: 1 / 11;
                }
                
                body.home {
                    overflow-x: hidden;
                    header {
                        a {
                            z-index: 3;
                            grid-column: 1/11;
                            grid-row: 1/4;
                            grid-gap: 0;
                            h1 {
                                z-index: 0;
                                justify-items: center;
                                img {
                                    grid-column: 1/11;
                                    margin-top: -$home-pull-up;
                                    pointer-events: none;
                                    width: 100%;
                                    height: auto;
                                    max-width: 650px;
                                    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                                        margin-top: -$home-pull-up - 15px;
                                        // margin-left: $base *2;
                                    }
                                }
                            }
                        }
                        .angled-background {
                            grid-row: 2/3;
                            align-self: center;
                            height: 155px;
                        }
                        h2 {
                            font-weight: 500;
                            font-size: 2em;
                            text-transform: uppercase;
                            justify-self: center;
                            grid-column: 2/10;
                            grid-row: 4/5;
                            text-align: center;
                            font-weight: 500;
                            text-transform: uppercase;
                            letter-spacing: 5px;
                            margin-top: $base;
                            @media(min-width: map-get($map: $breakpoints, $key: "sm") +35px) {
                                grid-column: 4/8;
                            }
                            @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                                grid-column: 3/9
                            }
                        }
                        div.false-line {
                            grid-row: 5/6;
                            grid-column: 4/8;
                            justify-self: center;
                            background-color: $lgray;
                            min-height: 1px;
                            width: 100%;
                            max-width: 150px;
                        }
                        p {
                            grid-column: 2/10;
                            grid-row: 7/8;
                            text-align: justify;
                            @media(min-width: 400px) {
                                text-align: center;
                            }
                            @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                                grid-column: 3/9;
                            }
                            @media(min-width:map-get($map: $breakpoints, $key: "lg")) {
                                grid-column: 4/8;
                            }
                        }
                    }
                }
                
                body.archive {
                    main>header {
                        grid-column: 1/11;
                        z-index: 3;
                        grid-row: 1/2;
                        margin: 0 0 ($base * 2) 0;
                        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                            margin: 0 0 ($base * 4) 0;
                        }
                        h2 {
                            grid-column: 2/10;
                            font-size: 2em;
                        }
                    }
                    .angled-background {
                        height: 232px;
                        background: $blue;
                        transform: rotate(-2deg) scale(1.2);
                        margin-top: -82px;
                        grid-row: 1/3;
                        z-index: 2;
                        &.sub-background {
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            opacity: 0.07;
                        }
                    }
                    form#category-filter {
                        margin-top: $base * 4;
                        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                            margin-top: 0;
                        }
                    }
                }