    /* styles for navigation partial */
    
    nav#site-nav {
        grid-column: 1 / 11;
        display: grid;
        $bar-height: 40px;
        margin-top: $bar-height /2;
        section#language-selector {
            grid-column: 8/10;
            grid-row: 2/4;
            align-self: center;
            justify-self: end;
            display: flex;
            align-items: center;
            cursor: pointer;
            display: none; //remove to re-enable
            p.current-language {
                text-transform: uppercase;
                font-weight: 600;
                color: $white;
                padding: 0;
            }
            span.chevron {
                color: $white;
                margin: auto 2px;
                height: 14px;
            }
            div#language-popdown {
                transition: all 0.3s ease-in-out;
            }
            @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                display: none;
            }
        }
        section#mobile-nav {
            grid-column: 2/4;
            grid-row: 2/3;
            align-self: center;
            display: flex;
            flex-direction: column;
            $width: 30px;
            padding: ($base / 2) 0;
            max-width: $width;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                display: none;
            }
            span {
                width: $width;
                height: 3px;
                background-color: #fff;
                display: block;
                margin: 3px 0;
                transition: all 0.3s ease-in-out;
            }
            &.is-active {
                transition: all 0.3s ease-in-out;
                transition-delay: 0.6s;
                transform: rotate(-45deg) translate(0, -5px);
            }
            &.is-active span:nth-child(2) {
                width: 0px;
            }
            &.is-active span:nth-child(1),
            &.is-active span:nth-child(3) {
                transition-delay: 0.3s;
            }
            &.is-active span:nth-child(1) {
                transform: translateY(15px);
            }
            &.is-active span:nth-child(3) {
                transform: translateY(-3px) rotate(-90deg);
            }
            &:hover {
                cursor: pointer;
            }
        }
        section#language-selector,
        section#mobile-nav {
            z-index: 4;
        }
        #primary-nav,
        #language-popdown {
            transition: all 0.3s ease-in-out;
            grid-row: 4/5;
            grid-column: 1 / 11;
            margin-bottom: 60px;
            li {
                padding: $base;
                text-align: center;
                color: $dark;
                text-transform: uppercase;
                font-weight: 400;
                @extend .menu-style;
                a {
                    color: inherit
                }
            }
        }
        #primary-nav {
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-row: 2/3;
                grid-column: 2/10;
                justify-self: center;
                display: flex;
                flex-direction: center;
                margin-bottom: 0 !important;
                padding: ($base) 0;
                z-index: 4;
                margin-left: -($base *1); // to solve off centering caused by logo not being centered.
                li {
                    padding: 0;
                    align-self: center;
                    margin: 0 ($base);
                    &:first-of-type,
                    &:nth-of-type(2) {
                        text-align: right;
                    }
                    &:last-of-type,
                    nth-last-of-type(2) {
                        text-align: left;
                    }
                    &:nth-of-type(2) {
                        margin-right: $base *6;
                    }
                    &:nth-last-of-type(2) {
                        margin-left: $base *4;
                    }
                    a {
                        color: $white;
                        letter-spacing: 1.5px;
                        font-size: 1em;
                        font-weight: 400;
                        z-index: 4;
                    }
                }
            }
            @media(min-width:map-get($map: $breakpoints, $key:"lg")) {
                grid-gap: 8px;
            }
        }
        section#language-popdown {
            grid-row: 3 /4;
        }
        div.background-bar {
            background-color: $gray;
            grid-column: 1 / 11;
            grid-row: 2 / 3;
            z-index: -1;
            min-height: $bar-height;
        }
        .nav-logo {
            grid-column: 4/8;
            grid-row: 5/6;
            justify-self: center;
            margin-top: -60px;
            max-width: 215px;
            z-index: 3;
            margin-bottom: 0;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                margin-top: -75px;
            }
        }
    }
    
    body.home {
        nav#site-nav {
            a.nav-logo {
                display: none;
            }
            #primary-nav,
            #language-popdown {
                margin-bottom: $home-pull-up;
            }
        }
    }