main {
    grid-column: 1/11;
    align-self: center;
    header {
        h2 {
            // font-size: 2em;
            font-weight: 500;
            letter-spacing: 4px;
        }
    }
}

body.page {
    main {
        background-color: $owhite;
        margin-bottom: $base *10; // see last image styling
    }
    .angled-background {
        z-index: 2;
    }
    article {
        header {
            align-items: center;
            grid-row: 1/3;
            z-index: 3;
            font-weight: 500;
            letter-spacing: 4px;
            // font-size: 2em;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                // font-size: 2.5em;
            }
        }
        .angled-background {
            height: 232px;
            background: $blue;
            transform: rotate(-2deg) scale(1.2);
            margin-top: -82px;
            grid-row: 1/3;
            z-index: 2;
            grid-row-start: 1;
            &.sub-background {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                opacity: 0.07;
                // opacity: 0.3;
            }
        }
        section {
            border-top: none;
            &:first-of-type {
                padding-top: $base * 6;
            }
            p {
                font-weight: 300;
                font-size: 1em;
            }
        }
        .hero-text-block {
            grid-column: 1/11;
            justify-self: center;
            h2,
            p {
                grid-column: 2/10;
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    grid-column: 3/9;
                }
                @media(min-width:map-get($map: $breakpoints, $key:"lg")) {
                    grid-column: 4/8;
                }
            }
            h2 {
                margin-bottom: $base *2;
                @extend .sub-heading;
            }
            p {
                @extend .pulled-text;
            }
            div.false-line {
                grid-column: 4/8;
                justify-self: center;
                background-color: $lgray;
                min-height: 1px;
                width: 100%;
                max-width: 150px;
                margin: $base *2 0 $base * 1 0;
            }
        }
        .text-block,
        .article-preview-block,
        .download-block {
            grid-column: 2/10;
            justify-self: center;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: 3/9;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "del")) {
                grid-column: 4/8;
            }
        }
        .download-block {
            a {
                grid-column: 4/8;
                padding: ($base /2) ($base * 2);
                background-color: $green;
                color: $white;
                &:hover {
                    background-color: darken($green, 8%);
                }
            }
        }
        .image-collection-block {
            grid-template-columns: repeat(12, 1fr);
            grid-gap: $base;
            grid-column: 2/10;
            justify-self: center;
            align-items: center;
            justify-content: center;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: 3/9;
            }
            a {
                grid-column: span 6;
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    grid-column: span 4;
                }
                @media(min-width:map-get($map: $breakpoints, $key: "ds")) {
                    grid-column: span 3;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .article-preview-block {
            h3 {
                padding-bottom: ($base /2);
            }
            h2 {
                font-style: italic;
                margin-bottom: $base;
                a {
                    color: $gray;
                    font-weight: 400;
                    font-size: 0.9em;
                    text-transform: none;
                }
            }
        }
    }
}

// Last image styling
body.page {
    article>img:last-child {
        grid-column: 4/8;
        justify-self: center;
        margin-bottom: -1 * ($base * 3);
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 5/7;
            margin-bottom: -1 * ($base * 2);
        }
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            margin-bottom: -1 * ($base * 3);
        }
        @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
            margin-bottom: -1 * ($base * 4);
        }
    }
}

body.home {
    main#content {
        background-color: transparent;
        overflow-x: hidden;
        img.image-block {
            grid-column: 4/8;
            justify-self: center;
            margin: $base*3 0;
            z-index: 1;
            grid-row-start: 1;
        }
        .angled-background {
            grid-row-start: 2;
            grid-column: 1/11;
            height: 232px;
            background: $blue;
            transform: rotate(-2deg) scale(1.5);
            z-index: -1;
            align-self: start;
            margin-top: -$base * 6.5;
        }
        .simple-card-block {
            grid-row-start: 2;
            h2 {
                margin-bottom: $base*3;
            }
        }
    }
}

.page.contact {
    form#contact-form {
        grid-column: 2/10;
        grid-gap: $base;
        margin-bottom: $base *4;
        @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
            grid-column: 3/9;
        }
        input[name="name"],
        input[type="email"] {
            grid-column: span 10;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: span 5;
            }
        }
        input[name="subject"] {
            grid-column: span 10;
        }
        textarea[name="message"] {
            grid-column: span 10;
        }
        input[type="submit"] {
            background: $green;
            outline: none;
            color: $white;
            grid-column: 3/9;
            &::hover {
                background-color: darken($green, 0.8%);
            }
            @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                grid-column: 4/8;
            }
            @media(min-width:map-get($map: $breakpoints, $key: "lg")) {
                grid-column: 5/7;
            }
        }
        input,
        textarea {
            padding: $base;
            border: solid 1px $fgray;
            font-size: 1.2em;
            letter-spacing: 2px;
            color: $gray;
            &::placeholder {
                color: $fgray;
            }
        }
    }
}

body.media {
    .download-block {
        margin-bottom: $base *3;
    }
    .flase-line {
        display: none;
    }
}