p:empty {
    display: none;
}

article {
    grid-column: 1/11;
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 0;
    }
    header {
        grid-column: 1/11;
        grid-row: 1/2;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            margin: 0 0 ($base * 4) 0;
        }
        z-index: 3;
        padding-bottom: $base;
        h1 {
            font-size: 0.8em;
            font-weight: 400;
            grid-column: 2/10;
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: 3/9;
            }
        }
        h2,
        {
            grid-column: 2/10;
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: 3/9;
            }
            font-size: 2em;
            font-weight: 500;
            letter-spacing: 4px;
            ul>li>a {
                font-size: 2em;
                font-weight: 500;
                letter-spacing: 4px;
                color: $dark;
            }
        }
        a.btn.btn-link {
            background-color: $green;
            padding: ($base /2) $base;
            text-transform: uppercase;
            text-align: center;
            color: white;
            margin-top: $base - 3.2px;
            grid-column: 3/9;
            font-size: 0.8em;
            @media(min-width: 400px) {
                grid-column: 4/8;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                &:first-of-type {
                    grid-column: 4/6;
                    margin-right: (($base - 3.2px) /2) !important;
                }
                &:last-of-type {
                    grid-column: 6/8;
                    margin-left: (($base - 3.2px) /2) !important;
                }
            }
        }
    }
    .angled-background {
        height: 325px;
        background: $blue;
        transform: rotate(-2deg) scale(1.2);
        margin-top: -82px;
        grid-row: 1/3;
        z-index: 2;
        grid-row-start: 1;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            height: 275px;
        }
        &.sub-background {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            opacity: 0.1;
        }
    }
    nav#lesson-nav {
        grid-column: 2/10;
        margin-top: 48px;
        margin-bottom: ($base * 3);
        z-index: 3;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 1/11;
            margin: -25px 5vw ($base * 3) 5vw;
        }
        @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
            grid-column: 2/10;
        }
        grid-row: 2/3;
        background-color: $gray;
        display: block;
        p {
            color: $white;
            font-family: $montserrat;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            span:before {
                margin-left: $base / 2;
                margin-top: 5px;
                color: $white;
            }
            &:hover {
                color: $green;
                span:before {
                    color: $green;
                }
            }
        }
        a {
            display: block;
            color: $white;
            margin: $base *2 0;
            text-align: center;
            text-transform: uppercase;
            // font-weight: bold;
            &:hover {
                color: $green;
            }
        }
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    h2.content-type {
        grid-column: 2/7;
        grid-row-start: 1;
        color: $green;
        align-self: center;
        font-size: 2em;
        @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
            grid-column: 3/7;
        }
    }
    span.chevron {
        grid-column: 9/10;
        grid-row-start: 1;
        @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
            grid-column: 8/9;
        }
        justify-self: end;
        align-self: center;
        color: $green;
        padding-right: 5px;
        margin-top:10px;
    }
    section {
        grid-column: 1/11;
        .text-block,
        .link-block,
        .text_image_block {
            margin-top: $base;
            grid-column: 2/10;
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: 3/9;
            }
        }
        .link-block {
            margin: $base 0;
            a {
                grid-column: 1/11;
                background-color: $green;
                color: $white;
                padding: ($base * 1.5);
                text-transform: uppercase;
            }
        }
        ul {
            list-style: disc outside none;
            padding: 0 0 $base $base;
            display: block;
            line-height: 25px;
        }
        ol {
            list-style: decimal outside none;
            padding: $base 0 $base $base;
            display: block;
        }
        p,
        li {
            padding: 0 0 $base 0;
            font-size: 1.25em;
            a {
                font-family: "Open Sans";
                font-weight: bold;
                font-size: inherit;
            }
        }
        h1 {
            font-size: 2em;
            padding: 0 0 $base 0;
        }
        h2 {
            font-size: 1.75em;
            padding: 0 0 $base 0;
        }
        h3 {
            font-size: 1.5em;
            padding: 0 0 $base 0;
        }
        h5 {
            font-size: 1.3em;
            padding: 0 0 $base 0;
        }
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            &:first-of-type {
                margin-top: $base;
            }
        }
    }
    div.key-concept,
    div.final-thoughts {
        grid-column: 1/11;
        background: $green;
        padding: ($base*2) 0;
        h4,
        p {
            grid-column: 2/10;
            font-family: $montserrat;
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: 4/8;
            }
            color: $white;
            text-align: center;
        }
        margin: $base 0;
    }
    h4 {
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: $base;
    }
}

article>section {
    padding: ($base * 1) 0;
    border-top: solid 1px $lgray;
    &:first-of-type {
        border-top: none;
    }
}

article>section>h2 {
    padding-bottom: 0;
}

main>div.archive-wrapper {
    grid-column: 1/11;
}


/* Archive */

body.archive {
    main {
        margin-bottom: $base *6;
    }
}

.archive-wrapper {
    grid-column: 2/10;
    grid-row: 3/4;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $base * 2;
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        margin-left: -5vw;
        margin-right: -5vw;
    }
    @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
        grid-gap: $base;
    }
    @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
        grid-gap: $base * 2;
        grid-column: 3/9;
        justify-self: center;
    }
    main {
        margin-bottom: $base *4;
    }
    article {
        grid-column: 1/13;
        background-color: $elgray;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            grid-column: span 4;
        }
        header,
        footer {
            padding: 0;
            margin: 0;
        }
        header {
            background-color: $dark;
            align-self: start;
            width: 100%;
            a.background-link {
                grid-column: 1/11;
                grid-row: 1/5;
                z-index: 0;
                opacity: 0.35;
                background-size: cover;
                background-position: 50% 50%;
                align-self: start;
                width: 100%;
                height: 100%;
            }
            h5 {
                padding-top: 65%;
                grid-column: 2/10;
                justify-self: center;
                grid-row: 4/5;
                z-index: 1;
                margin-bottom: $base;
                a {
                    color: $white;
                }
            }
        }
        section {
            margin-top: 0;
            padding: $base;
            h2 {
                font-weight: 400;
            }
            p {
                @media(min-width: 400px) {
                    text-align: center;
                }
            }
            p>a {
                display: none;
            }
        }
        footer {
            grid-column: 1/11;
            align-self: end;
            a {
                padding: $base 0;
                grid-column: 1/11;
                background-color: $green;
                color: $white;
                &:hover {
                    background-color: darken($green, 8%);
                }
            }
        }
    }
}