a {
    text-decoration: none;
    font-weight: 500;
    color: $green;
    &:hover {
        color: darken($green, 8%);
    }
}

a.link-wrapper {
    display: content;
}

body {
    overflow-x: hidden;
}

p,
blockquote,
{
    padding: $base;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: $base;
}

img {
    max-width: 100%;
    height: auto;
}

#skip-to,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.mobile-only {
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        display: none;
    }
}

.collapsed {
    position: absolute;
    transform: scale(0, 0);
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.mobile-collapsed {
    @extend .collapsed;
    @media(min-width: map-get($map: $breakpoints, $key: 'md')) {
        transform: scale(1);
        overflow: auto;
        padding: inherit;
        clip: initial;
        position: static;
    }
}

.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    cursor: pointer;
}

.chevron.after::after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron.before.after::before {
    display: none;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.angled-background {
    grid-column: 1/11;
    background: $blue;
    transform: scale(1.2) rotate(-1deg);
    z-index: -1;
    align-self: start;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: stretch;
    justify-items: stretch;
    @media(min-width: 400px) {
        transform: scale(1.8) rotate(-2deg);
        margin-top: $base* 1.8;
    }
    @media(min-width:map-get($map: $breakpoints, $key: 'sm')) {
        transform: scale(2) rotate(-2deg);
        margin-top: $base* 4;
    }
    @media(min-width:map-get($map: $breakpoints, $key: 'sm') + 35) {
        transform: scale(2.3) rotate(-2deg);
        margin-top: $base* 4;
    }
    @media(min-width:map-get($map: $breakpoints, $key: 'md')) {
        transform: scale(2.4) rotate(-2deg);
        margin-top: $base* 5;
    }
    img {
        opacity: 0.2;
    }
}

@supports (-ms-ime-align: auto) {
    .angled-background {
        display: none;
    }
}

#master-grid {
    overflow-x: hidden; // stop angled
}

.dot {
    height: 5px;
    width: 5px;
    background-color: $dark;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 2px;
}