	    h1,
	    h2,
	    h3,
	    h4,
	    h5,
	    h6,
	    p,
	    blockquote,
	    a,
	    abbr,
	    acronym,
	    address,
	    big,
	    cite,
	    del,
	    dfn,
	    em,
	    ins,
	    q,
	    s,
	    samp,
	    small,
	    strike,
	    strong,
	    sub,
	    sup,
	    tt,
	    var,
	    b,
	    u,
	    i,
	    center,
	    ol,
	    ul,
	    li,
	    fieldset,
	    form,
	    label,
	    legend,
	    table,
	    caption,
	    article,
	    aside,
	    details,
	    figcaption,
	    footer,
	    header,
	    hgroup,
	    menu,
	    nav {
	        font-family: "Montserrat", sans-serif;
	        // font-size: $base;
	        line-height: $base * 1.5;
	        letter-spacing: 1px;
	        color: $dark;
	        font-size: 15px;
	    }
	    
	    h1,
	    h2,
	    h3,
	    h4,
	    h5 {
	        font-weight: 500;
	        text-transform: uppercase;
	        letter-spacing: 4px;
	    }
	    
	    h1 {
	        font-size: 2em;
	    }
	    
	    h2 {
	        font-size: 1.75em
	    }
	    
	    h3 {
	        font-size: 1.75em;
	    }
	    
	    p,
	    li {
	        @extend .body-style;
	    }
	    
	    textarea {
	        font-family: $montserrat;
	    }
	    
	    .menu-style {
	        letter-spacing: 1.5px;
	        font-size: 0.9em;
	        font-weight: 300;
	    }
	    
	    .header-style {
	        font-size: 2.5em;
	    }
	    
	    .body-style {
	        font-family: "Open Sans";
	        letter-spacing: 0.5px;
	        font-weight: 400;
	        font-size: 15px;
	        line-height: 25px;
	    }
	    
	    .pulled-text {
	        letter-spacing: 1px;
	        font-weight: 300;
	        font-style: italic;
	        font-size: 1.2em;
	        line-height: 1.5em;
	    }
	    
	    .sub-heading {
	        font-weight: 500;
	        letter-spacing: 2px;
	        font-size: 0.9em;
	    }
	    
	    .text-link {
	        font-weight: 600;
	    }
	    
	    .footer-menu {
	        font-weight: 300;
	        letter-spacing: 1.5px;
	    }
	    
	    .footer-copyright {
	        font-family: 400;
	        letter-spacing: 0.5px;
	        font-family: "Open Sans";
	        font-size: 0.7em;
	    }