/*
 * Colors
 */

$white: #fff;
$owhite: #fafafa;
$dark:#40485B;
$gray: #535A6A;
$lgray:#ebebeb;
$elgray: #f7f7f7;
$green: #4BA96C;
$blue: #E5F7F8;
$fgray:#c8c8c8;

/*
 * Spacing
 */

$base: 16px;
$breakpoints: ( xs: 400, sm: 550px, md: 750px, lg: 950px, xl: 1150px, ds: 1350px, dl: 1550, del:1850px) !default;

/*
 * Spacing
 */

$home-pull-up:60px;